* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 5vh;
  background-color: #2766c2;
}

.side-bar {
  width: 20vw;
  min-height: 95vh;
  background-color: #2b7def;
}

.link {
  display: block;
  width: 80%;
  margin-top: 3rem;
}

.link:hover {
  text-decoration: none;
}

.orange {
  color: white;
  background-color: orange;
  border-color: orange;
}
